<!DOCTYPE html>

<html lang="{{ app.session.get('_locale') }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head %}
            <title>{{ app_name|capitalize }}</title>
            <link rel="icon" href="{{ asset('bundles/bzmcore/images/app_logo.png') }}" />
        {% endblock head %}

        {% block stylesheets %}
            {% stylesheets 
                'bundles/bzmcore/css/vendor/*.min.css' 
                'bundles/bzmcore/scss/main.scss' 
                filter='cssrewrite, scssphp' %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
    </head>
    
    <body class="{{ app.request.get('page') }} container-fluid">
        {% block widgets %}
        {% endblock widgets %}
        
        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}

        {% block javascripts %}
            {% javascripts
                'bundles/bzmcore/js/vendor/jquery.min.js'
                'bundles/bzmcore/js/main.js'
                filter='jsqueeze' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
    </body>
</html>