{% extends 'BZMCoreBundle::base.html.twig' %}

{% block widgets %}
    <div id="visit_bgd_fader" class="h-100 w-100"></div>
    <div id="visit_bgd_image" class="h-100 w-100"></div>
{% endblock widgets %}

{% block header %}
    <header>
        <nav class="navbar w-100">
            <ul class="nav">
                <div>
                    {% if app.session.get('_locale') == 'en' %}
                        <li class="nav-item"><a class="nav-link" href="{{ '/fr/' ~ app.request.get('page') }}">FR</a></li>
                    {% elseif app.session.get('_locale') == 'fr' %}
                        <li class="nav-item"><a class="nav-link" href="{{ '/en/' ~ app.request.get('page') }}">EN</a></li>
                    {% endif %}

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <li class="nav-item {{ type }}">
                                    <p class="navbar-text">{{ message|trans({}, 'FOSUserBundle') }}</p>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item logout-item">
                        <p class="navbar-text">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</p> 
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% endblock header %}

{% block content %}
    {% block banner %}
        <figure>
            <a href="" class="app-logo mx-auto"></a>
            <div>
                <h1>{{ app_name |replace({'i': '!'}) |capitalize }}</h1>
            </div>
        </figure>
    {% endblock banner %}
{% endblock content %}

{% block footer %}
    <footer>
        <div class="navbar w-100">
            <p>Copyright © 2017 Tomasz Ngondo</p>
            <a href="https://github.com/TomaszNg/bizom"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
    </footer>
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/bzmcore/js/core.js') }}"></script>
{% endblock javascripts %}

