{% extends 'BZMCoreBundle::layout.html.twig' %}

{% block content %}
    {% trans_default_domain 'BZMCoreBundle' %}

    <main>
        {% block banner %}
            {{ parent() }}
        {% endblock banner %}

        <section>
            <h5 class="text-center">{{ 'install.title'|trans }}</h5>
            {{ form_start(form, {'method': 'post', 'action': path('bizom_core_install')}) }}
                <div class="form-group">
                    {{ form_label(form.project_name) }}
                    {{ form_widget(form.project_name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.company_name) }}
                    {{ form_widget(form.company_name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.company_adress) }}
                    {{ form_widget(form.company_adress, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group text-center">
                    {{ form_widget(form.install, {'attr': {'class': 'btn btn-secondary'}}) }}
                </div>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock content %}